{% extends 'naissances/layout.html' %}

{% block content %}
<h1>Liste des Fonctionnaire...</h1>

<div class="col-12 d-flex justify-content-end mb-2"> <a class="btn btn-primary sm " href="#">
    Ajouter un Fonctionnaire
</a>
</div>
<table class="table table-bordered table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>poste</th>
            <th>Téléphone</th>
            <th>Actions</th>
        </tr> 
    </thead>
    <tbody>
       {% for Fonctionnaire  in  fonctionnaires %}
            <tr class="success">
            <td>{{fonctionnaire.id}}</td>
            <td>{{fonctionnaire.nom}}</td>
            <td>{{fonctionnaire.prenom}}</td>
            <td>{{fonctionnaire.poste}}</td>
            <td>{{fonctionnaire.telephone}}</td>
            <td>
                <a class="btn btn-outline-primary sm" href="#">
                    Editer
              </a>

              <a class="btn btn-outline-danger sm" href="#">
                Supprimer
              </a>

              <a class="btn btn-outline-info sm" href="#">
                Detailes
            </a>

            </td>
        </tr>
        {% endfor %}
    </tbody>

    
</table>

{% endblock %}