{%extends 'naissances/layout.html' %}

{%block content%}
<div class="row">
    <div class="col-sm-2"></div>
    
  
<div class="shadow p-4 mb-5 bg-body rounded col-md-8">
    <center>

        <h1>Details  du pere...</h1>
    </br>
<!--{% comment %} 
    {% for mere in mere.all %}
       {{mere}}
    {% endfor %}
 {% endcomment %}-->
    <table class="table table-bordered table-striped table-hover">
        <tbody>            
          <tr class="success"> 
            
            <td><strong>ID: </strong>{{pere.id}}</td>
          </tr>

            <tr class="success"> 
            <td><strong>Nom :</strong> {{pere.nom}}</td>
            </tr>
            <tr class="success">
            <td><strong> Prenom:</strong> {{pere.prenom}}</td>
            </tr>

            <tr class="success"> 
            <td><strong>Genre:</strong> {{pere.genre}}</td>
          </tr>

            <tr class="success"> 
            <td><strong>Date de naissance:</strong> {{pere.date_naissance_pere}}</td>
          </tr>

          
          <tr class="success"> 
            <td><strong>Lieu de naissance:</strong> {{pere.lieu_naissance_pere}}</td>
           </tr>

            <tr class="success"> 
             <td><strong>Fonction:</strong> {{pere.fonction_pere}}</td>
            </tr>

        </tbody>
    </table>

      <div class="row">
        <div class="col-sm-4 p-2 mb-2"> 
        <strong>Pere de: </strong> 
        <p> {{pere.enfant.nom}} {{pere.enfant.prenom}} </p>
        </div>

        <div class="col-sm-4 p-2 mb-2">
            <strong>Le Fonctionnaire : </strong> <br> {{enfant.fonctionnaire.nom}} {{enfant.fonctionnaire.prenom}}
           
        </div>
    </div>

    </center>
</div>
</div> 
{%endblock%}